body {
  font-family: Arial, Helvetica, sans-serif;
}

.container-body {
  display: table;
  width: auto;
  margin-left: auto;
  margin-right: auto;
}

.container-body__header {
  display: table-row;
}

.container-body__foot {
  display: table-row;
  min-width: 100%;
  height: 12.5rem;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  min-width: 50rem;
  max-width: 78.75rem;
  background-color: #ece9e9;
}

.header__logo {
  width: 35%;
  margin-left: 10%;
  -ms-flex-line-pack: center;
      align-content: center;
}

.header__contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 45%;
  margin-right: 10%;
}

.logo_eci {
  width: 18.75rem;
}

.contact__phone {
  font-size: 1.25rem;
}

.icon__lightbulb {
  display: inline;
  width: 1.875rem;
  height: 0.9375rem;
}

.icon__info {
  display: inline;
  margin-right: 0.3125rem;
  width: 0.9375rem;
  height: 0.9375rem;
}

.icon__user {
  display: inline;
  margin-right: 0.3125rem;
  width: 0.9375rem;
  height: 0.9375rem;
}

.icon__phone {
  display: inline;
  width: 1.5625rem;
  height: 1.25rem;
}

.separator__header {
  width: 1px;
  height: 0.9375rem;
  background-color: gray;
}

.flexmenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 78.75rem;
  min-width: 46.875rem;
}

.menu {
  width: 5%;
  margin-left: 10%;
}

.menu__button {
  width: 3.125rem;
  height: 3.625rem;
  text-align: -webkit-center;
  font-size: 1rem;
  color: white;
  background-color: #67b500;
}

.menu2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 75%;
  height: 3.125rem;
  margin-left: 4%;
  margin-right: 10%;
  font-size: 0.875rem;
}

.button {
  width: 2.5rem;
  background-color: #67b500;
}

.page {
  width: auto;
  height: auto;
  width: 78.75rem;
  background-color: #e4e4e4;
}

.body {
  width: 80%;
  height: auto;
  margin-left: 10%;
  margin-right: 10%;
}

.body__start {
  width: 100%;
  height: 1.25rem;
  padding-top: 0.9375rem;
  padding-bottom: 0.9375rem;
}

.body__start-start {
  color: #67b500;
}

.options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 95%;
}

.options__choose {
  padding: 0.625rem;
  color: white;
  background-color: #67b500;
}

.vacations {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: auto;
  margin-bottom: 3.125rem;
}

.travels {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  width: 49%;
  min-width: 21.875rem;
  height: 25rem;
  margin-bottom: 0.9375rem;
  background-color: white;
}

.beach {
  width: 100%;
  height: 55%;
  max-width: 100%;
}

.beach__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-top: 1%;
  margin-left: 5px;
  font-size: 1.5625rem;
}

.beach__text {
  margin-top: 1px;
  margin-left: 5px;
}

.beach__since {
  margin-left: 0.625rem;
  margin-bottom: -0.9375rem;
  padding-top: 3%;
  color: grey;
}

.beach__price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  max-height: 1.25rem;
  margin-left: 0.625rem;
  font-size: 2.1875rem;
  font-weight: bold;
  color: #67b500;
}

.beach__info {
  position: absolute;
  bottom: 0.625rem;
  right: 0.625rem;
  padding: 0.9375rem;
  border: 1px solid #67b500;
  color: #67b500;
}

.beach__info:hover {
  background-color: #67b500;
  color: white;
}

.beach__triangle {
  position: absolute;
  width: 4.375rem;
  height: 0px;
  top: 1.25rem;
  border-top: 3.125rem solid transparent;
  border-bottom: 3.125rem solid transparent;
  border-left: 9.375rem solid #67b500;
}

.beach__text-triangle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  width: 3.125rem;
  height: 3.125rem;
  margin-top: 2.5rem;
  margin-left: 0.625rem;
  color: white;
}

.text-bold {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: bold;
  font-size: 1.25rem;
}

.offers {
  width: 97%;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  margin-top: 1.25rem;
  margin-bottom: 3.125rem;
  padding: 0.9375rem;
  background-color: white;
}

.offers__title {
  font-size: 1.5625rem;
}

.offers__text {
  padding-top: 1.25rem;
  color: gray;
}

.more {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.more__separator {
  width: 1px;
  height: 7.5rem;
  background-color: gray;
}

.activities {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 10%;
  height: 6.25rem;
  padding: 0.625rem;
  background-color: #e4e4e4;
}

.activities__icon {
  font-size: 3.125rem;
  color: #67b500;
}

.block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: 15.625rem;
  margin-top: 3.125rem;
}

.block__hotels {
  position: relative;
  width: 30%;
  height: inherit;
  background-image: url(https://www.hoteleselba.com/sites/default/files/21-movil.jpg);
  background-size: cover;
}

.block__hotels-h2 {
  padding-top: 3px;
  padding-left: 0.625rem;
  font-size: 1.875rem;
  color: white;
}

.block__hotels-search {
  position: absolute;
  bottom: 0.625rem;
  right: 0.625rem;
  padding: 0.9375rem;
  border: 2px solid white;
  color: white;
  font-size: 1.25rem;
}

.footer-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: 15.625rem;
  margin-top: 1.875rem;
}

.footer-links__block-1 {
  width: 20%;
  height: auto;
  min-width: 12rem;
  margin-top: 1.5rem;
  padding: 2px;
  text-align: center;
}

.footer-links__block-2 {
  width: 20%;
  height: auto;
  min-width: 11.25rem;
  margin-top: 1.5rem;
  padding: 2px;
  text-align: center;
}

.footer-links__block-3 {
  width: 20%;
  height: auto;
  min-width: 18.4375rem;
  margin-top: 1.5rem;
  padding: 2px;
  text-align: center;
}

.footer-links__block-4 {
  width: 20%;
  height: auto;
  min-width: 11.25rem;
  margin-top: 1.5rem;
  padding: 2px;
  text-align: center;
}

.footer-links__block-title {
  color: #67b500;
  margin-bottom: 0.625rem;
}

.footer-links__separator {
  margin-top: 2.5rem;
  width: 2.5rem;
  height: 1px;
  background-color: gray;
}

.footer-image {
  min-width: 100%;
}

.foot {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  position: relative;
  width: 78.75rem;
  height: 21.875rem;
  margin-top: 1.25rem;
  background-color: white;
}

.foot__image1 {
  position: absolute;
  left: 3.75rem;
  bottom: 12.5rem;
  width: 15.625rem;
  height: 6.25rem;
}

.foot__image1 {
  position: absolute;
  left: 3.75rem;
  bottom: 12.5rem;
  width: 15.625rem;
  height: 6.25rem;
}

.foot__image2 {
  position: absolute;
  left: 3.125rem;
  bottom: 3.75rem;
  width: 22.5rem;
  height: 6.25rem;
}

.foot__image3 {
  position: absolute;
  right: 3.125rem;
  bottom: 12.5rem;
  width: 18.75rem;
  height: 6.25rem;
}

.foot__image4 {
  position: absolute;
  right: 3.125rem;
  bottom: 3.75rem;
  width: 18.75rem;
  height: 6.25rem;
}

.foot__image5 {
  position: absolute;
  left: 28.125rem;
  bottom: 12.5rem;
  width: 21.875rem;
  height: 6.25rem;
}

@media only screen and (max-width: 600px) {
  html {
    font-size: 5px;
  }
  .menu2 {
    display: none;
  }
  .options {
    width: 100%;
  }
  .vacations {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .travels {
    width: 100%;
    margin-top: 1.875rem;
  }
}
/*# sourceMappingURL=styles.css.map */