@function rem($size) {
  @return $size / 16px * 1rem;
}

@mixin logo {
  width: rem(15px);
  height: rem(15px);
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.container-body {
  display: table;
  width: auto;
  margin-left: auto;
  margin-right: auto;

  &__header {
    display: table-row;
  }

  &__foot {
    display: table-row;
    min-width: 100%;
    height: rem(200px);
  }
}
.header {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
  min-width: rem(800px);
  max-width: rem(1260px);
  background-color: #ece9e9;

  &__logo {
    width: 35%;
    margin-left: 10%;
    align-content: center;
  }

  &__contact {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 45%;
    margin-right: 10%;
  }
}

.logo_eci {
  width: rem(300px);
}

.contact {
  &__phone {
    font-size: rem(20px);
  }
}

.icon {
  &__lightbulb {
    display: inline;
    width: rem(30px);
    height: rem(15px);
  }

  &__info {
    display: inline;
    margin-right: rem(5px);
    @include logo;
  }

  &__user {
    display: inline;
    margin-right: rem(5px);
    @include logo;
  }

  &__phone {
    display: inline;
    width: rem(25px);
    height: rem(20px);
  }
}

.separator__header {
  width: 1px;
  height: rem(15px);
  background-color: gray;
}

.flexmenu {
  display: flex;
  max-width: rem(1260px);
  min-width: rem(750px);
}

.menu {
  width: 5%;
  margin-left: 10%;

  &__button {
    width: rem(50px);
    height: rem(58px);
    text-align: -webkit-center;
    font-size: rem(16px);
    color: white;
    background-color: #67b500;
  }
}

.menu2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 75%;
  height: rem(50px);
  margin-left: 4%;
  margin-right: 10%;
  font-size: rem(14px);
}

.button {
  width: rem(40px);
  background-color: #67b500;
}

.page {
  width: auto;
  height: auto;
  width: rem(1260px);
  background-color: #e4e4e4;
}

.body {
  width: 80%;
  height: auto;
  margin-left: 10%;
  margin-right: 10%;

  &__start {
    width: 100%;
    height: rem(20px);
    padding-top: rem(15px);
    padding-bottom: rem(15px);
  }

  &__start-start {
    color: #67b500;
  }
}

.options {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  width: 95%;

  &__choose {
    padding: rem(10px);
    color: white;
    background-color: #67b500;
  }
}

.vacations {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  height: auto;
  margin-bottom: rem(50px);
}

.travels {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  position: relative;
  width: 49%;
  min-width: rem(350px);
  height: rem(400px);
  margin-bottom: rem(15px);
  background-color: white;
}

.beach {
  width: 100%;
  height: 55%;
  max-width: 100%;

  &__title {
    display: flex;
    justify-content: flex-start;
    margin-top: 1%;
    margin-left: 5px;
    font-size: rem(25px);
  }

  &__text {
    margin-top: 1px;
    margin-left: 5px;
  }

  &__since {
    margin-left: rem(10px);
    margin-bottom: rem(-15px);
    padding-top: 3%;
    color: grey;
  }

  &__price {
    display: flex;
    justify-content: flex-start;
    max-height: rem(20px);
    margin-left: rem(10px);
    font-size: rem(35px);
    font-weight: bold;
    color: #67b500;
  }

  &__info {
    position: absolute;
    bottom: rem(10px);
    right: rem(10px);
    padding: rem(15px);
    border: 1px solid #67b500;
    color: #67b500;
  }

  &__info:hover {
    background-color: #67b500;
    color: white;
  }

  &__triangle {
    position: absolute;
    width: rem(70px);
    height: 0px;
    top: rem(20px);
    border-top: rem(50px) solid transparent;
    border-bottom: rem(50px) solid transparent;
    border-left: rem(150px) solid #67b500;
  }

  &__text-triangle {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: rem(50px);
    height: rem(50px);
    margin-top: rem(40px);
    margin-left: rem(10px);
    color: white;
  }
}

.text-bold {
  display: flex;
  font-weight: bold;
  font-size: rem(20px);
}

.offers {
  width: 97%;
  height: min-content;
  margin-top: rem(20px);
  margin-bottom: rem(50px);
  padding: rem(15px);
  background-color: white;

  &__title {
    font-size: rem(25px);
  }

  &__text {
    padding-top: rem(20px);
    color: gray;
  }
}

.more {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  &__separator {
    width: 1px;
    height: rem(120px);
    background-color: gray;
  }
}

.activities {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 10%;
  height: rem(100px);
  padding: rem(10px);
  background-color: #e4e4e4;

  &__icon {
    font-size: rem(50px);
    color: #67b500;
  }
}

.block {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  height: rem(250px);
  margin-top: rem(50px);

  &__hotels {
    position: relative;
    width: 30%;
    height: inherit;
    background-image: url(https://www.hoteleselba.com/sites/default/files/21-movil.jpg);
    background-size: cover;
  }

  &__hotels-h2 {
    padding-top: 3px;
    padding-left: rem(10px);
    font-size: rem(30px);
    color: white;
  }

  &__hotels-search {
    position: absolute;
    bottom: rem(10px);
    right: rem(10px);
    padding: rem(15px);
    border: 2px solid white;
    color: white;
    font-size: rem(20px);
  }
}

.footer-links {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: rem(250px);
  margin-top: rem(30px);

  &__block-1 {
    width: 20%;
    height: auto;
    min-width: rem(192px);
    margin-top: rem(24px);
    padding: 2px;
    text-align: center;
  }

  &__block-2 {
    width: 20%;
    height: auto;
    min-width: rem(180px);
    margin-top: rem(24px);
    padding: 2px;
    text-align: center;
  }

  &__block-3 {
    width: 20%;
    height: auto;
    min-width: rem(295px);
    margin-top: rem(24px);
    padding: 2px;
    text-align: center;
  }

  &__block-4 {
    width: 20%;
    height: auto;
    min-width: rem(180px);
    margin-top: rem(24px);
    padding: 2px;
    text-align: center;
  }

  &__block-title {
    color: #67b500;
    margin-bottom: rem(10px);
  }

  &__separator {
    margin-top: rem(40px);
    width: rem(40px);
    height: 1px;
    background-color: gray;
  }
}

.footer-image {
  min-width: 100%;
}
.foot {
  display: flex;
  flex-wrap: nowrap;
  position: relative;
  width: rem(1260px);
  height: rem(350px);
  margin-top: rem(20px);

  background-color: white;

  &__image1 {
    position: absolute;
    left: rem(60px);
    bottom: rem(200px);
    width: rem(250px);
    height: rem(100px);
  }

  &__image1 {
    position: absolute;
    left: rem(60px);
    bottom: rem(200px);
    width: rem(250px);
    height: rem(100px);
  }

  &__image2 {
    position: absolute;
    left: rem(50px);
    bottom: rem(60px);
    width: rem(360px);
    height: rem(100px);
  }

  &__image3 {
    position: absolute;
    right: rem(50px);
    bottom: rem(200px);
    width: rem(300px);
    height: rem(100px);
  }

  &__image4 {
    position: absolute;
    right: rem(50px);
    bottom: rem(60px);
    width: rem(300px);
    height: rem(100px);
  }

  &__image5 {
    position: absolute;
    left: rem(450px);
    bottom: rem(200px);
    width: rem(350px);
    height: rem(100px);
  }
}

@media only screen and (max-width: 600px) {
  html {
    font-size: 5px;
  }

  .menu2 {
    display: none;
  }

  .options {
    width: 100%;
  }

  .vacations {
    justify-content: center;
  }

  .travels {
    width: 100%;
    margin-top: rem(30px);
  }
}

// forma triángulo footer

// &__form1 {
//     -moz-transform: scaleX(-1); /* Firefox */
//     -o-transform: scaleX(-1); /* Opera */
//     -webkit-transform: scaleX(-1); /* Chrome y Safari */
//     transform: scaleX(-1); /* w3org */
//     filter: FlipH; /* Internet Explorer */
//     width: rem(20px);
//     height: 0px;
//     border-left: rem(822px) solid #e4e4e4;
//     border-top: 0px solid transparent;
//     border-bottom: 284px solid transparent;
// }

// &__form2 {
//     height: rem(50px);
//     border-left: rem(422px) solid #e4e4e4;
//     border-top: 0px solid transparent;
//     border-bottom: rem(235px) solid transparent;
// }
